#root {
  margin: 0;
  padding: .25rem;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .10rem .5rem;
  /* border: 1px solid yellow; */
}

.nav-container .nav-ul {
  display: flex;
  padding: .5rem 1rem;
  column-gap: .25rem;
  border-radius: 30px;
  /* border: 1px solid magenta */
}

.nav-container .nav-ul .nav-li {
  font-family: Helvetica, Arial;
  font-size: .8rem;
  font-weight: 600;
  color: cyan;
  padding: 0 .5rem;
  /* border: 1px solid cyan; */
  
}

.nav-container .nav-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

.dropdown-container {
  position: relative;
  cursor: pointer;
  /* border: 1px solid yellow; */
}

.dropdown-wrapper {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  transition: opacity 0.5s ease, visibility 0.5s linear;
  /* border: 1px solid magenta; */
}

.dropdown-container:hover .dropdown-wrapper {
  opacity: 1;
  visibility: visible;
}

.dropdown-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  column-gap: .25rem;
  margin: 0;      
  padding: .25rem 0;     
  /* border: 1px solid magenta; */
}



